<strong> Hi, {{ deliveryman }}</strong>
<p>One of your deliveries had to be cancelled.</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Cancelled at: </strong> {{ date }} <br />
  <br />
</p>
