<strong> Hi, {{ deliveryman }}</strong>
<p>You have a new delivery available for pick up!</p>
<p>
  <strong>Product: </strong> {{ product }} <br />
  <strong>Date: </strong> {{ date }} <br />
  <br />
  <small>
    - The product will available for pick up from 8am to 6pm<br />
    - The product must be delivered between 8am and 6pm
  </small>
</p>
